@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600&display=swap');

// Screen Sizes
$mobileScreen  : 300px;
$tabletScreen  : 700px;
$desktopScreen : 1000px;

//Colors
$primary-color  : #007bff;
// $secondary-color: #6c757d;
// $defaultColor   : #EC523F;
// $seaGreen       : #1ABC9C;
// $orange         : #E67E22;
// $blue           : #3498DB;
// $green          : #2ECC71;

//Font Families
$fontFamily    : 'Poppins', sans-serif;